extends layout
block body
    .container
        h1= title
        table-responsive
            table.table.table-striped
                thead
                    tr
                        td Название
                        td Причина
                        td Начало
                        td Длинна
                        td Видеозапись
                tbody
                    for event in data.events
                        tr
                            td=event.Event.Name
                            td=event.Event.Cause
                            td=event.Event.StartTime
                            td=event.Event.Length+' сек.'
                            td
                                a(href=event.Event.diskUrl, target="_blank")
                                    button.btn.btn-info(type="button") Просмотр




